main{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 25px;
}

button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.6em;
    color: black;
    cursor: pointer;
    display: flex;
    align-self: center;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

button:hover{
    color: #fff;
    box-shadow: 0 0 40px 40px gray inset;
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: auto;
}

table th{
    text-transform: uppercase;
}

table tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 1px;
}

table th, table td{
    text-align: center;
    padding: 10px;
}